{%  extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}

    {%  if title %}
        <h1>{{  title  }}</h1>
    {%  endif %}

    <form method="post" action={{ action }} novalidate> {% csrf_token %}

        <div class="row">
          <div class="col-6">
            {{ form.user|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.name|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.status|as_crispy_field }}
          </div>
        </div>
        {{ form.description|as_crispy_field }}

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

{%  endblock %}
